asgiref
black
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
dj-database-url
Django
django-allauth
exceptiongroup
generic
gunicorn
idna
mypy-extensions
oauthlib
pathspec
platformdirs
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
sqlparse
tomli
typing_extensions
urllib3
whitenoise
